    /* *{
        margin:0;
        padding: 0;
    } */
    body {
     background-color: rgb(57, 57, 58);
        font-size:20px;
        font-family: 'Fredoka', sans-serif;
    }
 h1{
    color: rgb(154, 225, 157);
    max-width: fit-content;
    /* position:absolute; */
    /* float:center; */
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5em;
     position:absolute;
    top:350px; left:500px;

}
    p{   font-family: 'Fredoka', sans-serif;
        color:rgb(255, 234, 238);
         max-width: fit-content;
         font-size: 1.3em;
         background-color:rgb(45, 45, 51);
            width: 380px;
            position: absolute;
            top: 450px;left:350px; padding:20px;
            border-radius: 35px;
    }
    img{
       border-radius: 50%;
        position: absolute;
       top:400px;
       left:800px
       
    }

    #list{
        color: rgb(255, 155, 113);
        font-size: 1.8em;
        position:absolute;
        top: 740px;
        text-align:center;
        left:400px
    }

    #links{
        position:absolute;
        top:50px;
        font-size:30px;
        color:rgb(241, 222, 222);
        text-decoration:none;
        background-color:rgb(45, 45, 51);
        border-radius: 35px; padding:20px; left: 30px; padding-top: 10px
    }
    a{
        text-decoration: solid;
        color: white;
        
    }
   a:hover {
       color: red;
   }
   p:hover{
       background-color: rgb(99, 150, 231);
   }